.club-container {
    display: grid;
    grid-template-columns: 4fr 1fr;
    background-color: rgb(236, 236, 236);
}

.exercises-container {
    padding: 60px;
}

.exercises {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 20px;
}

.options-container {
    background-color: white;
    position: sticky;
    top: 0;
}

@media screen and (max-width: 1413px) and (min-width: 1068px) {
    .exercises {
        grid-template-columns: repeat(2, 1fr);
    }
}

@media screen and (max-width: 1068px) and (min-width: 711px) {
    .exercises {
        grid-template-columns: repeat(1, 1fr);
    }
}

@media screen and (max-width: 711px) and (min-width: 499px) {
    .club-container {
        grid-template-columns: 1fr;
    }

    .exercises {
        grid-template-columns: repeat(1, 1fr);
        /* gap: 20px; */
    }

    .options-container {
        background-color: yellow;
        margin: 60px;
    }
}